* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-image: url("assets/pokeball-background.png");
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin-bottom: 4px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    background-color: #b0bec5;
    border: 1px solid #424242;
    border-radius: 16px;
    color: black;
    width: 80%;
    max-width: 800px;
    padding: 30px 50px;
}

.start {
    margin: auto;
}

.instructions {
    margin-top: 5rem;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    font-family: inherit;
    background-color: #03a9f4;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 16px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    margin: 4px;
    font-size: 20px;
    padding: .5em 1.5em;
}

button:focus {
    outline: none;
}

button:disabled {
    cursor: not-allowed;
}

.hidden {
    display: none;
}

.card.sprites {
    padding: 10px;
    max-width: 1200px;
    height: 40vh;
    max-height:40vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card.correct {
    animation: correct-border 0.7s ease-out;
}

@keyframes correct-border {
    0% {
        border: 2px solid #64dd17;
        box-shadow: 0 0 50px #64dd17;
    }
     40% {
         border: 1px solid #64dd17;
         box-shadow: 0 0 50px #64dd17;
     }
    100% {
        border: 1px solid black;
        box-shadow: 0 0 1px white;
    }
}

.tips {
    display: flex;
    justify-content: center;
}

.tips li {
    margin:  0 2rem;
}

.identified {
    display: flex;
    align-items: center;
    min-width: 50px;
    height: 50px;
    padding: 0;
    margin-bottom: 16px;
}

.div-sprite {
    width: 50px;
    height: 50px;
}

.div-sprite img {
    width: 100%;
}

.circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 8px;
}

.controls {
    display: grid;
    grid-template-areas:
        "input input input"
        "game timer time"
        "game timer time";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    width: 60%;
}

.input-buttons-div {
    min-width: 75%;
}

.guess-input {
    width: 50%;
    height: 2rem;
    margin: 1rem 0;
    grid-area: input;
    text-align: center;
}

.guess-input:focus {
    outline: none;
}

.btn-div {
    height: 100%;
    width: 100%;
    grid-area: game;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.timer-div {
    display: flex;
    font-size: 3rem;
    grid-area: timer;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.timer-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: time;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}

.card.missed-div {
    text-align: center;
}

.missed {
    display: flex;
    flex-wrap: wrap;
}

.missed li {
    margin: 4px 12px;
}
